.Jogger-component{
    /* margin-left:auto;
    margin-right:auto; */
    /* margin: 0 auto; */
    /* display:block; */
    /* margin-top: 10%; */
    background-image: url("../assests/yoga-img.png");
    background-repeat: no-repeat;
    margin: 0px 168px;
    /* margin-left: 14%;
    margin-top:6%; *
    margin: 0px 168px;/
    /* display:flex; */
    /* justify-content: center; */

}
.date{
    position: absolute;
    top: 41px;
 
}
.day{
    position: absolute;
    top: 36px;
}
.nav-bars{
    display:flex;
    justify-content: end;
    margin:17px;
}
.nav-bars a{
    margin:10px;
    color: rgb(131, 134, 139);
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    display:flex;
   
    
}
.yoga-header{
    color: rgb(159, 181, 221);
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    margin-bottom:0;
}
.div1{
    display: flex;
    justify-content: end;
}
.div1 h4{
    padding: 0px 30px;
    margin: 0px;
    color: rgb(188, 206, 240);
    font-size: 11px;
}
i{
    position:absolute;
}
.values{
    display:flex;
    justify-content: end;
}
.values h5{
    padding: 15px 44px;
    margin: 0px;
}
.hover-navbars :hover {
     
    border-bottom: rgb(76, 132, 236);
    border: 10px;
}
/* .Jogger-component {
    text-align: center;
    
    width:600px;
    height: 245px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10%;
    background-image: url("../assests/yoga-img.png");
    background-repeat: no-repeat;
}
h1{
    color: rgb(159, 181, 221);
    font-weight: 700;
    font-size: 80px;
}
.nav-bars a{
    margin:10px;
    color: rgb(131, 134, 139);
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}

button{
    margin: 10px;
}
h4{
    color: rgb(188, 206, 240);
    font-size: 11px;
    padding: 0px 26px;
}
.nav-bars{
    position: relative;
    right: -147px;
    bottom: -37px;
}
p{
    
    position: absolute;
    
    color: whitesmoke;
    font-size: 17px;
    font-weight: 500;
}

a:hover {
     
     border-bottom: rgb(76, 132, 236);
     border: 10px;
}
.time{
    
    font-size: 14px;
    font-weight: 800;
    color:rgb(128, 123, 123)
}
.kms{
    position: relative;
    left: 101px;
}
.degrees{
    position: relative;
    left: 84px;
}
.div1{
    display: flex;
    justify-content: end;
}
.values{
    display: flex;
    justify-content:center;
}
h5{
    font-size: 12px;
    font-weight: 800;
    color:rgb(128, 123, 123);
    padding: 0px 26px;
}
.main{
    position: relative;
    top: -38px;
}
h7{
    position: absolute;
    left: 3px;
    top: -17px;
    color: whitesmoke;
}
i{
    position:absolute;
    font-size: 26px;
    cursor: pointer;
}
#left-arrow{
    left: 500px;
    
    top: 167px;
    
}
#right-arrow{
    right: 488px;
    top: 168px;
}

@media (min-width:1440px) { 
    #left-arrow{
        left: 511px !important;
    top: 181px !important;
    }
    #right-arrow{
        left: 819px !important;
    top: 177px !important;
    }

}  */
